In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score,roc_auc_score

In [2]:
data = pd.read_csv(r"C:\Users\habib\OneDrive\المستندات\Depi_workingSpace\Depi_workigSpace\Contents\ML\Session4\In_session\KNN\customer_purchases.csv")

In [5]:
data.head()

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0
3   27   57000          0
4   19   76000          0

In [10]:
X = data.iloc[:,[0,1]].values
y = data.iloc[:,2].values

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0,stratify=y)

In [13]:
classifier = KNeighborsClassifier(n_neighbors=5 , metric='minkowski' , p = 2)
classifier.fit(x_train,y_train)

y_pred = classifier.predict(x_test)

In [16]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[68,  9],
       [17, 26]])

In [23]:
print("accuracy_score : ", accuracy_score(y_test, y_pred))
print("recall_score : ", recall_score(y_test, y_pred))
print("precision_score : ", precision_score(y_test, y_pred))
print("f1_score : ", f1_score(y_test, y_pred))
print("roc_auc_score : ", roc_auc_score(y_test, y_pred))

accuracy_score :  0.7833333333333333
recall_score :  0.6046511627906976
precision_score :  0.7428571428571429
f1_score :  0.6666666666666666
roc_auc_score :  0.7438840229537904