In [28]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\habib\appdata\local\programs\python\python313\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import psycopg2

In [42]:
try:
    conn = psycopg2.connect(
        host="localhost",
        database="ds_new",
        user="postgres",
        password="habiba2004#",
        port = '5433')
    print("✅ Connection successful!")


except Exception as e:
    print("❌ Connection failed:", e)

✅ Connection successful!

In [44]:
cur = conn.cursor()

In [46]:
cur.execute('select current_user')
print(cur.fetchone()[0])

postgres

In [43]:
conn.autocommit = True  
cur = conn.cursor()

cur.execute("CREATE DATABASE DS_new;")

DuplicateDatabase: database "ds_new" already exists

knowing the databases inseide ou postgres

In [47]:
cur.execute('select datname from pg_database where datistemplate = false')
for db in cur.fetchall():
    print(db[0])

postgres
Depi
bikeshare_db
ds_new

In [48]:
cur.execute("create table students_ (name VARCHAR(50),ohone VARCHAR(20))")
print('table created')

table created

In [50]:
cur.execute("ALTER tABLE students_ RENAME COLUMN ohone to phone")
print("Column changed")

Column changed

In [ ]:
sql = "INSERT INTO students_ (name , phone) values (%s , %s)"
data = ("Habiba","011223344556")


cur.execute(sql,data)
conn.commit
print("the new values are insertes :D")

the new values are insertes :D

In [53]:
data2 = ("omar","012345667884")
cur.execute(sql,data2)
conn.commit
print("the new values are insertes :D")

the new values are insertes :D

In [56]:
data3 = [("ali","0123456678"),
         ("hamed","0123456678"),
         ("ola","0881108244"),
         ("nour","0932876444"),
         ("mona","0387487644"),
         ("roa","0298642502")
         ]
cur.executemany(sql,data3)
conn.commit
print("the new values are insertes :D")

the new values are insertes :D

In [58]:
cur.execute("select name from students_")
results = cur.fetchall()
for i in results:
    print(i)

('Habiba',)
('Habiba',)
('omar',)
('ali',)
('hamed',)
('ola',)
('nour',)
('mona',)
('roa',)

In [59]:
cur.execute("select phone from students_ where name = 'Habiba'")
results = cur.fetchall()
for i in results:
    print(i)

('011223344556',)
('011223344556',)

In [ ]:
sql1 ="select phone from students_ where name = %s"
data4 = ('ola',)
cur.execute(sql1,data4)
result = cur.fetchall()
print(result)

[('0881108244',)]

In [65]:
sql1 ="UPDATE students_ set phone='000000002' where name ='ola'"
data4 = ('ola',)
cur.execute("SELECT * from students_")
result = cur.fetchall()
for i in results:
    print(i)

('011223344556',)
('011223344556',)

from User

In [73]:
# Get inputs from user
update_value = input("Enter new phone: ")
condition_value = input("Enter student name: ")
 
# Create the data tuple
data = (update_value, condition_value)
 
# Execute update with parameters
sql = cur.execute("UPDATE students_ SET phone = %s WHERE name = %s", data)
conn.commit()
 
# Fetch and print all rows
cur.execute("SELECT * FROM students_")
results = cur.fetchall()
for row in results:
    print(row)

('omar', '012345667884')
('ali', '0123456678')
('hamed', '0123456678')
('ola', '0881108244')
('nour', '0932876444')
('mona', '0387487644')
('roa', '0298642502')

In [72]:
# Ask for the student name to delete
name_to_delete = input("Enter student name to delete: ")
 
# Execute delete with parameter
cur.execute("DELETE FROM students_ WHERE name = %s", (name_to_delete,))
conn.commit()
 
# Check if anything was deleted
if cur.rowcount > 0:
    print(f"{cur.rowcount} record(s) deleted.")
else:
    print("No student found with that name.")
 
# Show remaining records
cur.execute("SELECT * FROM students_")
results = cur.fetchall()
for row in results:
    print(row)

2 record(s) deleted.
('omar', '012345667884')
('ali', '0123456678')
('hamed', '0123456678')
('ola', '0881108244')
('nour', '0932876444')
('mona', '0387487644')
('roa', '0298642502')